.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 200%;
  }

.grid{
  display: flex;
  flex-wrap: wrap;

  max-width: 5000px;
}

.column{
  flex-basis: 20%;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.headers{
  font-size: 1.5em;
}

.paragraphtitle{
  color: rgb(5, 77, 185);
}

.list{
  list-style-type: none;
  padding: 0;
}

.text{
  width: 20em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }
}
