.container {
  background-image: url("/images/background/alberto-restifo-unsplash.jpg");

  width: 99.7vw;
  padding: 5em;

  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: 0.1ms;
}

@mixin title {
  text-align: center;
}

.title {
  font-size: auto;

  color: rgb(0, 0, 0);

  padding-bottom: 25rem;
  padding-top: 13rem;

  @include title;
}

.description {
  line-height: 1.5;
  font-size: auto;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

.link:hover {
  text-decoration: underline;
}
