.warningbadge {
  background-color: rgb(236, 216, 186);
  color: rgb(235, 141, 19);

  border-radius: 0.5em;
  padding: 0.3em;

  font-weight: bold;

  /* Animation */
  transition: 0.4s;
}

.linkbadge {
  color: rgb(9, 66, 131);
  font-weight: bold;
  text-decoration: none;

  transition: 0.3s;
}
.linkbadge:focus,
.linkbadge:hover {
  color: rgb(43, 121, 194);
}
.linkbadge:active {
  text-decoration: underline;
}

.infobadge {
  background-color: rgb(58, 90, 158);
  color: rgb(255, 255, 255);

  border-radius: 0.5em;
  padding: 0.3em;

  font-weight: light;

  /* Animation */
  transition: 0.4s;
}

.errorbadge {
  background-color: rgb(243, 155, 155);
  color: rgb(255, 0, 0);

  border-radius: 0.5em;
  padding: 0.3em;

  font-weight: bolder;

  /* Animation */
  transition: 0.4s;
}

.basicbadge {
  position: absolute;

  background: #fafafa;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  opacity: 0;

  /* Animation */
  transition: 0.4s;
}

.flexbadge {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .warningbadge,
  .errorbadge,
  .infobadge {
    padding: 0.1em;
  }
}
