.list{
    list-style-type: none;
    padding: 0;
}
.horizontallist{
    display:inline;
    margin: 0.3em;
}

.secondaryheader{
    font-size: 3rem;
    padding-bottom: 7rem;
    padding-top: 5rem;
}