.list {
  list-style-type: none;
  padding: 0;
}
.horizontallist {
  display: inline;
  margin: 0.3em;
}

.secondaryheader {
  font-size: 3rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: lighter;
}

// Profile picture |

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 10rem;
  height: 10rem;
}
