.failingTag{
    color: red;
    font-weight: bold;
}

.linkTag{
    color: rgb(47, 106, 182);
    text-decoration: underline;
    font-weight: bold;
    
}
.linkTag:hover{
    color:  rgb(87, 137, 202);
}